.blog p, .blog ul, .blog ol, .featured-image, figure, h3 {
  scroll-snap-align: start;
}

footer {
  text-align: center;
}

.read-more,
.back {
  background: white;
  color: black;
  box-shadow: none;
  border-radius: 30px;
  padding: 10px 30px;
  box-sizing: border-box;
  display: inline-block;
  margin: 30px;
  border: none;
}

.read-more:hover,
.back:hover {
  margin-bottom: 28px;
}

.back svg {
  width: 20px;
}

.featured-image {
  border: 1px solid gray;
  width: 400px;
  height: 500px;
  margin: 10px 0 25px 25px;
  float: right;
  overflow: hidden;
}

.featured-image img {
  width: 400px;
}

figure {
  margin: 0;
}

figure img {
  width: 100%;
  height: auto;
}

figcaption {
  background: hsl(0deg 0% 90%);
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  margin-top: -5px;
}

/** IPAD AIR portrait **/
@media (max-width: 768px) {
  .featured-image {
    margin-left: 0;
    float: none;
    width: auto;
    height: 50vh;
  }

  .featured-image img {
    width: 100%;
  }
}

/** NEXUS 7 **/
@media (max-width: 601px) {
  .CTA.read-more {
    margin: 20px auto;
    float: none;
  }
}
