.blog p, .blog ul, .blog ol, .featured-image, figure, h3 {
  scroll-snap-align: start;
}

footer {
  text-align: center;
}

figcaption {
  background: hsl(0deg 0% 90%);
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  margin-top: -5px;
}

/** IPAD AIR portrait **/
@media (max-width: 768px) {
  .featured-image {
    margin-left: 0;
    float: none;
    width: auto;
    height: 50vh;
  }

  .featured-image img {
    width: 100%;
  }
}

/** NEXUS 7 **/
@media (max-width: 601px) {
  .CTA.read-more {
    margin: 20px auto;
    float: none;
  }
}
