/** GENERAL **/
.services ul, .services ol {
  margin: 0;
  padding: 0 0 0 30px;
  line-height: 30px;
}

p {
  margin: 20px 0;
  padding: 5px 0;
}

/** MAIN TITLE **/

h1#title-main span {
  display: block;
  white-space: nowrap;
}

/** WORDPRESS TEXT **/
.has-text-align-right {
  text-align: right;
}

.has-text-align-center {
  text-align: center;
}

/** MAIN TITLE with multi**/
.with-multi {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 1rem;

  font-size: 1rem;
  text-transform: none;
}

#developper-title {
  text-align: right;
}

#developper-title > * {
  display: block;
}

.with-multi #developper {
  font-size: 4rem;
  margin-bottom: -1rem;
}

.with-multi #for-good {
  font-size: 6.5rem;
  margin-bottom: -2rem;
}

.with-multi #common {
  font-size: 5rem;
}

.with-multi #at-multi {
  font-size: 5rem;
  text-align: left;
}

.with-multi #at-multi > * {
  display: block;
}

.with-multi #at {
  margin-bottom: -5.25rem;
}

.with-multi #multi {
  font-size: 14rem;
}

/** SOLUTIONS **/
.solutions .solution {
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.solution-design {
  background-image: url('/img/symbol-design.png');
}

.solution-site {
  background-image: url('/img/symbol-site.png');
  background-size: 90px;
}

.solution-tools {
  background-image: url('/img/symbol-tools.png');
  background-size: 95px;
}

/** ABOUT ME **/
.about-me .hello {
  display: block;
  background-repeat: no-repeat;
  background-image: url('/img/hello.png');
  background-position: 90% 0;
  background-size: contain;
}

/** CODE OR DEV **/
.no-code-dev h2 {
  margin-top: 30px;
}

/** IPAD AIR portrait **/
@media (max-width: 768px) {
  .services ul, .services ol {
    padding: 0 0 0 10px;
  }

  /** SOLUTIONS **/
  .solutions h2 {
    margin: 0;
  }

  .solutions li {
    padding: 2px 0;
  }

  .solutions .wp-block-columns {
    display: block;
  }

  .solutions .wp-block-columns .wp-block-column {
    display: flex;
    margin-top: 20px;
  }

  .solutions .solution {
    background-position: 20% 50%;
  }

  /** ABOUT ME **/
  .about-me h1 {
    background-position: 570px 0;
  }
}

/** NEXUS 7 **/
@media (max-width: 601px) {
  /** ABOUT ME **/
  .about-me h1 {
    background-position: 445px 15px;
    background-size: 15%;
  }
}

@media (max-width: 376px) {
  /** SOLUTIONS **/
  .solutions .solution {
    background-position: 15% 30px;
  }

  /** ABOUT ME **/
  .about-me h1 {
    background-position: 90% 0;
  }
}

/** FAIRPHONE 3+ **/
@media (max-width: 361px) {
  /** SOLUTIONS **/
  .solution-design {
    background-position: 0 70%;
  }

  .solution-site {
    background-position: 0 85%;
  }

  .solution-tools {
    background-position: 0 80%;
  }

  /** ABOUT ME **/
  .about-me h1 {
    background-position: 84% 0;
  }
}
