/** GENERAL **/
.services ul, .services ol {
  margin: 0;
  padding: 0 0 0 30px;
  line-height: 30px;
}

/** MAIN TITLE **/

h1#title-main span {
  display: block;
  white-space: nowrap;
}

/** WORDPRESS TEXT **/
.has-text-align-right {
  text-align: right;
}

.has-text-align-center {
  text-align: center;
}

/** WORDPRESS COLUMNS **/
.wp-block-columns {
  display: flex;
  column-gap: 50px;
  padding: 0 20px;
}

.wp-block-column {
  flex: 1;
}

/** SOLUTIONS **/
.solutions .solution {
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.solution-design {
  background-image: url('/public/img/symbol-design.png');
}

.solution-site {
  background-image: url('/public/img/symbol-site.png');
  background-size: 90px;
}

.solution-tools {
  background-image: url('/public/img/symbol-tools.png');
  background-size: 95px;
}

/** ABOUT ME **/
.about-me .hello {
  display: block;
  background-repeat: no-repeat;
  background-image: url('/public/img/hello.png');
  background-position: 90% 0;
  background-size: contain;
}

/** CODE OR DEV **/
.no-code-dev h2 {
  margin-top: 30px;
}

/** THANKING **/
.thanking {
  text-align: center;
}

.thanking h3 {
  font-size: 6vw;
}

/** IPAD AIR portrait **/
@media (max-width: 768px) {
  .services ul, .services ol {
    padding: 0 0 0 10px;
  }

  /** SOLUTIONS **/
  .solutions h2 {
    margin: 0;
  }

  .solutions li {
    padding: 2px 0;
  }

  .solutions .wp-block-columns {
    display: block;
  }

  .solutions .wp-block-columns .wp-block-column {
    display: flex;
    margin-top: 20px;
  }

  .solutions .solution {
    background-position: 20% 50%;
  }

  /** ABOUT ME **/
  .about-me h1 {
    background-position: 570px 0;
  }
}

/** NEXUS 7 **/
@media (max-width: 601px) {
  /** ABOUT ME **/
  .about-me h1 {
    background-position: 445px 15px;
    background-size: 15%;
  }
}

@media (max-width: 376px) {
  /** SOLUTIONS **/
  .solutions .solution {
    background-position: 15% 30px;
  }

  /** ABOUT ME **/
  .about-me h1 {
    background-position: 90% 0;
  }
}

/** FAIRPHONE 3+ **/
@media (max-width: 361px) {
  /** SOLUTIONS **/
  .solution-design {
    background-position: 0 70%;
  }

  .solution-site {
    background-position: 0 85%;
  }

  .solution-tools {
    background-position: 0 80%;
  }

  /** ABOUT ME **/
  .about-me h1 {
    background-position: 84% 0;
  }
}
