.Accordion .read-more {
  margin: 0 auto;
  font-size: 0.75rem;
}

.Accordion.hide * {
  display: none;
}

.Accordion.hide button {
  display: block;
}

.Accordion.hide button * {
  display: block;
  margin: 0 auto;
}

.Accordion button svg {
  width: 18px;
}

.Accordion.show > * {
  display: inherit;
}
